<div class="container-fluid">
  <div class="col-12 col-md-8 col-lg-6 col-xl-10 mx-auto mt-3">

    <h2>お問い合わせ内容確認</h2>
    <table class="table table-bordered text-center">
      <tr>
        <td class="w-25">お名前</td>
        <td class="w-75"><%= @contact.name %></td>
      </tr>
      <tr>
        <td>返信先メールアドレス</td>
        <td><%= @contact.email %></td>
      </tr>
      <tr>
        <td>件名</td>
        <td><%= @contact.subject %></td>
      </tr>
      <tr>
        <td>本文</td>
        <td><%= simple_format(@contact.message) %></td>
      </tr>
    </table>

    <div class="mt-3 d-flex">
      <%= form_with model: @contact, url: public_contacts_path, method: :post do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <%= f.submit "送信", class: "btn btn-success me-2" %>
      <% end %>

      <%= form_with model: @contact, url: back_public_contacts_path, method: :post do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>
        <%= f.submit "入力画面に戻る", class: "btn btn-secondary" %>
      <% end %>
    </div>

  </div>
</div>