<% if friend.good_at_top == true %><%= image_tag asset_path("friends/lane/top.png"), size: "30x23", class: "me-1" %><span class="me-2">TOP</span><% end %>
<% if friend.good_at_jg == true %><%= image_tag asset_path("friends/lane/jg.png"), size: "30x23", class: "me-1" %><span class="me-2">JG</span><% end %>
<% if friend.good_at_mid == true %><%= image_tag asset_path("friends/lane/mid.png"), size: "30x23", class: "me-1" %><span class="me-2">MID</span><% end %>
<% if friend.good_at_adc == true %><%= image_tag asset_path("friends/lane/adc.png"), size: "30x23", class: "me-1" %><span class="me-2">ADC</span><% end %>
<% if friend.good_at_sup == true %><%= image_tag asset_path("friends/lane/sup.png"), size: "30x23", class: "me-1" %><span class="me-2">SUP</span><% end %>