<% if user_signed_in? %>

    <% if friend.user != current_user %>

      <span id="follow_button_<%= friend.id %>"><%= render 'layouts/friend/follow_button', friend: friend %></span>
      <%= link_to public_rooms_path(user_ids: [current_user.id, friend.user.id]), method: :post, class: "btn btn-success me-3" do %><i class="fas fa-envelope me-1"></i>メッセージを送る<% end %>

    <% elsif friend.user == current_user %>
      <%= link_to edit_public_friend_path(friend), class: "btn btn-success me-3" do %><i class="fas fa-edit me-1"></i>編集する<% end %>
      <%= link_to public_friend_path(friend), method: :delete, class: "btn btn-danger me-3",data: { confirm: "【確認】投稿を削除してもよろしいですか？" } do %><i class="fas fa-trash me-1"></i>削除する<% end %>
    <% end %>

<% elsif admin_signed_in? %>
  <%= link_to edit_admin_friend_path(friend), class: "btn btn-success me-3" do %><i class="fas fa-edit me-1"></i>編集する<% end %>
  <%= link_to admin_friend_path(friend), method: :delete, class: "btn btn-danger me-3",data: { confirm: "【確認】投稿を削除してもよろしいですか？" } do %><i class="fas fa-trash me-1"></i>削除する<% end %>
<% end %>
<%= link_to "戻る", :back, class: "btn btn-secondary" %>