<div class="col">
  <div class="card border-secondary border-2 h-100">
    <div class="card-body">
      <h5 class="card-title"><%= render 'layouts/friend/user_name', friend: friend %></h5>
      <p class="card-text ms-3"><%= friend.introduction.truncate(130) %></p>
      <table class="table text-center">
        <tr>
          <th>サモナーネーム</th>
          <td><%= render 'layouts/friend/summoner_name', friend: friend %></td>
        </tr>
        <tr>
          <th>ランク</th>
          <td><%= render 'layouts/friend/rank', friend: friend %></td>
        </tr>
        <tr>
          <th>好きなチャンピオン</th>
          <td><%= friend.favorite_champion %></td>
        </tr>
        <tr>
          <th>募集目的</th>
          <td><%= render 'layouts/friend/purpose', friend: friend %></td>
        </tr>
        <tr>
          <th>得意なレーン</th>
          <td><%= render 'layouts/friend/good_at_lane', friend: friend %></td>
        </tr>
        <tr>
          <th>苦手なレーン</th>
          <td><%= render 'layouts/friend/bad_at_lane', friend: friend %></td>
        </tr>
        <tr>
          <th>活動時間帯</th>
          <td><%= friend.active_time %></td>
        </tr>
        <tr>
          <th>Twitter</th>
          <td><%= render 'layouts/friend/twitter', friend: friend %></td>
        </tr>
        <tr>
          <th>ボイスチャット</th>
          <td><%= render 'layouts/friend/vc_status', friend: friend %></td>
        </tr>
        <tr>
          <th>利用可能なボイスチャット</th>
          <td><%= render 'layouts/friend/vc_type', friend: friend %></td>
        </tr>
      </table>
      <p class="card-text text-center"><%= render 'layouts/friend/profile_card_footer', friend: friend %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">最終更新日:<%= friend.updated_at.strftime("%Y年%m月%d日") %></small>
    </div>
  </div>
</div>