<div class="container-fluid">
  <div class="col-12 col-md-8 col-lg-6 col-xl-10 mx-auto mt-3">
    <h2><%= @club.name %></h2>

      <div class="card">
        <div class="card-body">
          <p class="card-text"><%= simple_format(@club.introduction) %></p>
          <% if user_signed_in? %>
            <% member = ClubMember.find_by(user_id: current_user.id, club_id: @club.id) %>
            <% if member %>
              <%= link_to "サークルを抜ける", public_club_club_member_path(@club), method: :delete, class: "btn btn-danger" %>
            <% else %>
              <%= link_to "サークルに入る", public_club_club_members_path(@club), method: :post, class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>
      </div>

    <h2 class="mt-2">スレッド一覧</h2>
    <% if member %>
      <table class="table">
        <tr>
          <th>スレッド名</th>
          <th>投稿者</th>
          <th>コメント数</th>
          <th>投稿日</th>
        </tr>
        <% @club_boards.each do |club_board| %>
          <tr>
            <td><%= link_to public_club_club_board_path(club_board) do %><%= club_board.title %><% end %></td>
            <td><%= club_board.user.name %></td>
            <td><%= club_board.club_board_comments.count %>コメント</td>
            <td><%= club_board.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒") %></td>
          </tr>
        <% end %>
      </table>

      <h2>新規投稿</h2>
        <%= form_with model: [@club,@club_board], url: public_club_club_boards_path(@club), method: :post do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

        <div class="mb-3 mt-4">
          <%= f.label "タイトル", class: "form-label" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-3 mt-4">
          <%= f.label "本文", class: "form-label" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="mb-3 mt-4">
          <%= f.label "画像添付", class: "form-label" %>
          <%= f.file_field :club_board_image, accept: "image/*", class: "form-control" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "投稿する", class: "btn btn-success me-3" %>
        </div>

        <% end %>

    <% else %>
      <p>スレッドはサークルに参加することで閲覧できるようになります</p>
    <% end %>

    <h2>メンバー一覧</h2>
    <table class="table text-center">
      <tr>
        <th>ユーザー名</th>
        <th>フォロー</th>
        <th>ダイレクトメッセージ</th>
        <th>詳細ページ</th>
      </tr>
      <% @members.each do |member| %>
      <tr>
        <td><%= member.user.name %></td>
        <% if member.user != current_user %>
          <td>
            <% if member.user.is_followed_by?(current_user) %>
              <%= link_to "フォロー解除", public_user_relationships_path(member.user),method: :delete, class: "btn btn-danger me-3" %>
            <% else %>
              <%= link_to "フォローする", public_user_relationships_path(member.user),method: :post, class: "btn btn-primary me-3" %>
            <% end %>
          </td>
          <td>
            <%= link_to public_rooms_path(user_ids: [current_user.id, member.user.id], partner_id: [member.user.id]), method: :post, class: "btn btn-success me-3" do %>メッセージを送る<% end %>
          </td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td><% page = Friend.find_by(user_id: member.user.id) %><% if page %><%= link_to "詳細", public_friend_path(page), class: "btn btn-success" %><% end %></td>
      </tr>
      <% end %>
    </table>

  </div>
</div>