<div class="container-fluid">
  <div class="col-12 col-md-8 col-lg-6 col-xl-10 mx-auto mt-3">
    <table class="table text-center">
      <tr>
        <th>ユーザー名</th>
        <th>フォロー</th>
        <th>ダイレクトメッセージ</th>
        <th>詳細ページ</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td>
            <% if user.is_followed_by?(current_user) %>
              <%= link_to "フォロー解除", public_user_relationships_path(user),method: :delete, class: "btn btn-danger me-3" %>
            <% else %>
              <%= link_to "フォローする", public_user_relationships_path(user),method: :post, class: "btn btn-primary me-3" %>
            <% end %>
          </td>
          <td><%= link_to "ダイレクトメッセージを送る", "#", class: "btn btn-success me-3" %></td>
          <td><% page = Friend.find_by(user_id: user.id) %><% if page %><%= link_to "詳細", public_friend_path(page), class: "btn btn-success" %><% end %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>